<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="myFragments :: myHead(title = 'Rejestracja')"></head>
</head>
<body>
<div th:replace="myFragments :: navigationBarOtherThanIndex"></div>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-md">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                 class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd"
                      d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            Rejestracja użytkownika
        </a>
    </div>
</nav>
<div class="shadow-sm p-2 mb-3 bg-body rounded"></div>
<div class="container">
    <form th:object="${user}" method="post" autocomplete="off" th:action="@{/user/register/}">
        <div class="bd-highlight mb-3">
            <div class="form-floating mb-3">
                <input type="text" th:field="*{login}" required class="form-control" id="floatingInput"
                       placeholder="user1">
                <label for="floatingInput">Nazwa użytkownika (login):</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" th:field="*{password}" required class="form-control"
                       id="floatingPassword"
                       placeholder="Hasło">
                <label for="floatingPassword">Hasło:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" th:field="*{email}" required class="form-control" id="floatingEmail"
                       placeholder="example@wpl.pl">
                <label for="floatingEmail">Email:</label>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Zarejestruj</button>
            </div>
        </div>
    </form>
    <hr>
    <a th:href="@{/}">Powrót</a>
</div>
<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>