<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="myFragments :: myHead(title = 'Strona użytkownika')"></head>
<body>
<div th:replace="myFragments :: navigationBar"></div>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-md">
        <a class="navbar-brand" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill"
                 viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
            Your page <b sec:authentication="name"></b>
            <form class="d-flex">
                <a th:href="@{/meme/add}" class="btn btn-light" role="button">Post new MEME</a>
            </form>
        </a>
    </div>
</nav>
    <div class="row">
        <div sec:authorize="hasRole('ADMIN')" class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-5 fw-semibold">Menu</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        Users
                    </button>
                    <div class="collapse" id="home-collapse" style="">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">List</a></li>
                            <li><a href="#" class="link-dark rounded">Edit</a></li>
                            <li><a href="#" class="link-dark rounded">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        Memes
                    </button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">Edit</a></li>
                            <li><a href="#" class="link-dark rounded">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        Categories
                    </button>
                    <div class="collapse" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="/category/add" class="link-dark rounded">New</a></li>
                            <li><a href="#" class="link-dark rounded">Edit</a></li>
                            <li><a href="#" class="link-dark rounded">Delete</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        Account
                    </button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark rounded">New...</a></li>
                            <li><a href="#" class="link-dark rounded">Profile</a></li>
                            <li><a href="#" class="link-dark rounded">Settings</a></li>
                            <li><a href="#" class="link-dark rounded">Sign out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-auto">
            <h1>Your memes</h1>
            <div th:insert="meme/memelist.html :: memeListFragment(memes = ${usermemes})"></div>
            <div sec:authorize="hasRole('ADMIN')" th:insert="meme/memelist.html :: memeListFragment(memes = ${memelist})"></div>
        </div>
        <div class="col-4">
            <h1>Comments</h1>
            <div th:insert="comment/list.html :: commentlistFragment(comments = ${usercomments})"></div>
        </div>
    </div>

<!-- <tr>
    <th>Login: <td th:text="${login.login}"></td></th>
    <p></p>
    <th>E-mail: <td th:text="${login.email}"></td></th>
    <p></p>
    <th>Komentarze: <td th:text="${login.email}"></td></th>
    <p></p>
    <a th:href="@{edit/by-user/{user}(user=${login.login})}">Edycja konta</a>
    <p></p>
    <a th:href="@{delete/by-user/{user}(user=${login.login})}">Usuwanie konta</a>
    <p></p>
    <h1>Lista komentarzy</h1>
    <table>
        <tr>
            <th>Autor</th>
            <th>Komentarz</th>
        </tr>
        <tr th:each="comment : ${userComment}">
            <td th:text="${comment.user}"></td>
            <td th:text="${comment.text}"></td>

        </tr>
    </table>
    <h1>Lista memów</h1>
    <table>
        <tr>
            <th>Autor</th>
            <th>Mem</th>
        </tr>
        <tr th:each="meme : ${userMeme}">
            <td th:text="${meme.user}"></td>
            !-- <td th:text="${meme.getDescription()}"></td> --

        </tr>
    </table>

</tr> -->

<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>