<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="myFragments :: myHead(title='Edit category')"></head>
<body>
<div th:replace="myFragments :: navigationBarOtherThanIndex"></div>
<h1>Edit</h1>
<form th:object="${category}" th:action="@{/category/edit}" method="post">
    <label>Name: <input type="text" th:field="*{name}"></label>
    <input type="hidden" th:field="*{id}">
    <input type="submit" value="Edit">
</form>
<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>