<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="myFragments :: myHead(title = 'Edycja komentarza')"></head>
<body>
<h1>Edytuj komentarz</h1>
<form th:object="${comment}" th:action="@{/comment/edit}" method="post">
    <label>Uzytkownik: <input type="text" th:field="*{user}"></label>
    <label>Komentarz: <input type="text" th:field="*{text}"></label>
    <input type="hidden" th:field="*{id}">
    <input type="submit">
</form>
<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>