<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="myFragments :: myHead(title = ${meme.title})"></head>
<body>
<div th:replace="myFragments :: navigationBarOtherThanIndex"></div>

<div th:insert="meme/memelist.html :: memeListFragment(memes = ${meme})"></div>

<a th:href="@{/meme/edit/by-id/{id}(id=${meme.id})}">Edytuj</a>
<a th:href="@{/meme/list}">Powrót</a>

<!--dodawanie komentarzy -->
<div class="container">
    <div style="width: 50rem;">
      <form th:object="${comment}" method="post">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{text}"> </textarea>
        <input type="submit">
      </form>
    </div>
  </div>
</div>

<!--wyświetlanie komentarzy  -->
<div class="container">
<table class="col-3">
  <tr th:each="comment : ${meme.comments}">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.user}"></h6>
        <p class="card-text" th:text="${comment.text}"></p>
      </div>
    </div>
  </tr>
</table>
</div>

<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>