<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="myFragments :: myHead(title = ${meme.title})">
</head>
<body>
<div th:replace="myFragments :: navigationBar"></div>
<div th:insert="meme/memelist.html :: memeListFragment(memes = ${meme})"></div>

<!--dodawanie komentarzy -->
<div class="container" sec:authorize="isAuthenticated()">
    <div style="width: 50rem;">
      <form th:object="${comment}" method="post" th:action="@{/meme/list/by-id/{memeId}(memeId=${meme.id})}">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{text}"> </textarea>
        <input type="submit">
      </form>
    </div>
  </div>
</div>

<!--wyświetlanie komentarzy  -->
<div class="container">
<table class="col-3">
  <h6>Comments:</h6>
  <tr th:each="comment : ${meme.comments}">
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.user.login}"></h6>
        <p class="card-text" th:text="${comment.text}"></p>
      </div>
    </div>
  </tr>
</table>
</div>

<footer th:replace="myFragments :: myFooter"></footer>
</body>
</html>